$fontBaseSize: 14px;
$fontFamily: Helvetica, Arial, sans-serif;

$playlistBorderSize: 10px;
$playlistHeight: 400px;
$playlistWidth: 600px;

$trackBackground: #000;
$trackBackgroundOdd: #DDD;
$trackBackgroundHover: #55C;
$trackTextHover: #FFF;
$trackMargin: 3px;
$trackPadding: 5px;